.pageBg {
    background: #f5f7fa;
}

/* Tiles */
.sapMGenericTile {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.2s;
}

.sapMGenericTile:hover {
    transform: translateY(-4px);
}

/* Charts */
.chartCard {
    background: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}